/* Start Variables */
:root {
  --main-color: #333;
  --secondary-color: #58706e;
  --main-duration: 0.3s;
}
/* End Variables */
/* ****************************** */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: #f6f6f6;
}
/* ****************************** */
/* Start container in media */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End container in media */
/* End Global Rules */
/* ****************************** */
/* ********** Start Header ********** */
header {
  padding: 20px;
  background-color: white;
}
/* Start User */
header .sign-in {
  /* border: 1px solid red; */
  height: 50px;
  display: block;
  position: relative;
  z-index: 22;
}
header .sign-in .sign {
  width: 170px;
  float: right;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  transition: var(--main-duration);
}
header .sign-in .sign a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  color: var(--main-color);
  text-decoration: none;
}
header .sign-in .sign a i {
  font-size: 27px;
}
/* End User */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Start Logo */
header .logo {
  height: 55px;
  width: 120px;
  background-image: url("../pic/logo-removebg-preview.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  cursor: pointer;
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  transition: var(--main-duration);
}
header .logo:hover {
  transform: translateY(-4px);
}
/* End Logo */
header .links {
  position: relative;
}
header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
header .links .icon {
  width: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .links .icon span {
  background-color: var(--main-color);
  height: 2px;
  margin-bottom: 7px;
}
header .links .icon span:first-child {
  width: 100%;
}
header .links .icon span:nth-child(2) {
  width: 70%;
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  transition: var(--main-duration);
}
header .links .icon span:last-child {
  width: 100%;
}
header .links ul {
  background-color: #f6f6f6;
  list-style: none;
  margin: 0;
  padding: 0px;
  position: absolute;
  right: 0;
  top: calc(100% + 21px);
  min-width: 220px;
  display: none;
  border-radius: 2px;
  z-index: 1;
}
header .links ul::before {
  content: "";
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 7.5px;
  top: -30px;
}
header .links:hover ul {
  display: block;
}
header .links ul li a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: var(--main-color);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  transition: var(--main-duration);
}
header .links ul li a:hover {
  padding-left: 30px;
}
header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #aaa;
}

/* Start Media In Header */
/* Medium */
@media (min-width: 992px) {
  /* Start Reset */
  header .links .icon {
    display: none;
  }
  /* End Reset */
  header {
    background-color: #fff;
  }
  header .links ul {
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding: 0px;
    position: relative;
    display: flex;
  }
  header .links ul::before {
    display: none;
  }
  header .links:hover ul {
    display: flex;
  }
  header .links ul li a {
    display: block;
    text-decoration: none;
    width: 150px;
    padding: 10px;
    font-size: 18px;
  }
  header .links ul li a:hover {
    padding-left: 15px;
    padding-bottom: 5px;
  }
  header .links ul li a {
    border-bottom: 1px solid #aaa;
  }
}
/* End Media In Header */
/* ********** End Header ********** */
/* ********** Start Login Section ********** */
.signup {
  background-image: url("../pic/glasses-1052010_1920.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: calc(100vh - 145px);
}
.signup::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 30%);
}
.signup .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
}
.signup .container form {
  width: 470px;
  margin: 30px 0;
  padding-bottom: 20px;
  min-height: auto;
  border-radius: 5px;
  position: relative;
  background: rgba(0, 0, 0, 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signup .container form h1 {
  color: #58706e;
  padding: 20px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  text-align: center;
  margin: 0 0 15px 0;
  background: rgba(0, 0, 0, 55%);
}
.signup .container form input {
  color: #c0c0c1;
  position: relative;
  font-size: 22px;
  width: 85%;
  background: rgba(3, 3, 1, 60%);
  border-radius: 5px 20px 5px 20px;
  padding: 12px 15px;
  margin: 10px 0 28px 0;
  outline: none;
}
.signup .container form input:hover {
  background: rgba(3, 3, 1, 90%);
}
.signup .container form a {
  width: 220px;
  text-decoration: none;
  color: #859985;
  background-color: #252c2c;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 4px;
  font-size: 30px;
  text-align: center;
}
.signup .container form a:hover {
  background-color: #2c4755;
  color: #faf3f0;
}
/* ********** End Login Section ********** */
/* ********** Start Contact Section ********** */
.contact {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: white;
  overflow: hidden;
}
.contact .head-sections {
  margin: 0;
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  color: #ddd;
  letter-spacing: -3px;
}
.contact .head-sections + p {
  text-align: center;
  margin-top: -25px;
  font-size: 20px;
  color: #999;
}
/* Media Head Sections */
@media (max-width: 767px) {
  .contact .head-sections {
    font-size: 70px;
  }
  .contact .head-sections + p {
    margin-top: -15px;
    font-size: 14px;
  }
}

.contact .info {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}
.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: #2c4755;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i {
  margin-left: 10px;
  color: #2c4755;
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}
/* ********** End Contact Section ********** */
/* ********** Start Footer Section ********** */
footer {
  background-color: #2c4755;
  color: white;
  padding: 20px 10px;
  text-align: center;
  font-size: 18px;
}
footer a {
  padding: 0 5px;
  text-decoration: none;
  color: #222;
}
/* ********** End Footer Section ********** */
